body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 20px;
    padding: 0;
    background-color: #d5b2b9;

}

h1,
h2 {
    text-align: center;
    color: black;
    text-decoration: underline;

}

form {
    max-width: 700px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

fieldset {
    border: 6px solid mediumvioletred;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgb(250, 216, 228);
}

legend {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: black;


}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
    color: black;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 2px solid mediumvioletred;
    border-radius: 4px;
    box-sizing: border-box;

}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: mediumvioletred;
    color: black;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

button:hover {
    color: aliceblue;


}

#resumeOutput {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    border: 2px solid mediumvioletred;
    border-radius: 8px;
    border-color: mediumvioletred;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#resumeOutput h2,
h3 {
    color: black;
    text-decoration: underline;
}

#generatedResume {
    border: 5px solid mediumvioletred
}

#left_panel {
    padding: 0px;
    margin: 0px;
    height: 700px;
    width: 250px;
    background-color: mediumvioletred;

}

table {
    border: 10px;
    border-color: mediumvioletred;

}

.left_panel_element {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

a {
    float: right;
    height: 50px;
    width: 100px;
    text-decoration: none;
}